<<<<<<< HEAD
 $dark-blue: #275DAD;
 $dark-grey: #5B616A;
 $light-grey: #CED3DC;
 $off-white: #FCF7F8;
 $light-blue: #00BBf9;
=======
// James and Mika, put your colors here!
//format:
//$red: #hexadecimal;
//$blue: #hexadecimal;
//$green: #hexadecimal;
//$dark-green: #hexadecimal;
>>>>>>> 19c4bbf9a4baf0e182a17fef86dd3bbd351551a2
